
<div class="expander">
	<ul>
		<li class="expander__item">
			<div class="expander__item__title">
				<img class="expander__item__title__icon" src="/images/icon-expander-open.svg"></img>
				<span>How to measure your blood glucose level</span>
			</div>
			<div class="expander__item__content expander__item__content--hidden">
				Some content
			</div>
		</li>
		<li class="expander__item">
			<div class="expander__item__title">
				<img class="expander__item__title__icon" src="/images/icon-expander-open.svg"></img>
				When to check your blood glucose level
			</div>
		</li>
		<li class="expander__item">
			<div class="expander__item__title">
				<img class="expander__item__title__icon" src="/images/icon-expander-open.svg"></img>
				Blood glucose levels - the numbers
			</div>
		</li>
	</ul>
</div>


