
<div class="expander">
	<ul class="expander__list">
		<li class="expander__item">
			<div class="expander__item__title">
				<img class="expander__item__title__arrow" src="/images/expander/icon-expander-open.svg"></img><span>How to measure your blood glucose level</span>
			</div>
			<div class="expander__item__content">
				<div class="expander__item__video">
					<iframe class="expander__item__content__video" src="https://www.youtube.com/embed/l3E7asicKXc?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>

				<div class="expander__item__content__text">
					<p>Checking your blood is quick and easy, although it can be uncomfortable at first.</p>
					<p>You’ve been given:
						<ul>
							<li>a blood glucose meter</li>
							<li>small needles (called lancets)</li>
							<li>a plastic pen to hold the needles</li>
							<li>test strips</li>
						</ul>
					</p>
					<p>To check your blood:</p>
					<ol>
						<li>insert a test strip into the blood glucose meter</li>
						<li>make sure your finger is clean</li>
						<li>attach needle the pen - use a fresh needle every time</li>
						<li>place the pen to the side of your finger (it’s less painful)</li>
						<li>press the button on the pen to push the needle in</li>
						<li>gently squeeze your finger until you have a drop of blood</li>
						<li>hold your finger so the blood touches the top of the test strip</li>
						<li>read the numbers on the screen of your meter</li>
					</ol>
					<p>Checking your blood is quick and easy, although it can be uncomfortable at first.</p>
					<p>You’ve been given:
						<ul>
							<li>a blood glucose meter</li>
							<li>small needles (called lancets)</li>
							<li>a plastic pen to hold the needles</li>
							<li>test strips</li>
						</ul>
					</p>
					<p>To check your blood:</p>
					<ol>
						<li>insert a test strip into the blood glucose meter</li>
						<li>make sure your finger is clean</li>
						<li>attach needle the pen - use a fresh needle every time</li>
						<li>place the pen to the side of your finger (it’s less painful)</li>
						<li>press the button on the pen to push the needle in</li>
						<li>gently squeeze your finger until you have a drop of blood</li>
						<li>hold your finger so the blood touches the top of the test strip</li>
						<li>read the numbers on the screen of your meter</li>
					</ol>

				</div>
			</div>
		</li>
		<li class="expander__item">
			<div class="expander__item__title">
				<img class="expander__item__title__arrow" src="/images/expander/icon-expander-open.svg"></img><span>When to check your blood glucose level</span>
			</div>
			<div class="expander__item__content">
				Some content
			</div>
		</li>
		<li class="expander__item">
			<div class="expander__item__title">
				<img class="expander__item__title__arrow" src="/images/expander/icon-expander-open.svg"></img><span>Blood glucose levels - the numbers</span>
			</div>
			<div class="expander__item__content">
				Some content
			</div>
		</li>
		<li class="expander__item">
			<div class="expander__item__title">
				<img class="expander__item__title__arrow" src="/images/expander/icon-expander-open.svg"></img><span>How to inject insulin</span>
			</div>
			<div class="expander__item__content">
				Some content
			</div>
		</li>
		<li class="expander__item">
			<div class="expander__item__title">
				<img class="expander__item__title__arrow" src="/images/expander/icon-expander-open.svg"></img><span>Recognising and treating hypoglycaemia (hypo)</span>
			</div>
			<div class="expander__item__content">
				Some content
			</div>
		</li>
		<li class="expander__item">
			<div class="expander__item__title">
				<img class="expander__item__title__arrow" src="/images/expander/icon-expander-open.svg"></img><span>Treating a hypo</span>
			</div>
			<div class="expander__item__content">
				Some content
			</div>
		</li>
		<li class="expander__item">
			<div class="expander__item__title">
				<img class="expander__item__title__arrow" src="/images/expander/icon-expander-open.svg"></img><span>Check you’re safe to drive</span>
			</div>
			<div class="expander__item__content">
				Some content
			</div>
		</li>
	</ul>
</div>


