
<div class="expander">
	<ul class="expander__list" role="navigation">
		<li class="expander__item">
			<a class="expander__item__title" href="#">
				<div>How to measure your blood glucose level</div>
			</a>
			{{> diabetes/how-to-measure-blood-level }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">
				<div>When to check your blood glucose level</div>
			</a>
			{{> diabetes/when-to-check }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">
				<div>Blood glucose levels - the numbers</div>
			</a>
			{{> diabetes/levels-the-numbers }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href='#'>
				<div>How to inject insulin</div>
			</a>
			{{> diabetes/how-to-inject }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">
				<div>Recognising and treating hypoglycaemia (hypo)</div>
			</a>
			{{> diabetes/recognising-threating }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">
				<div>Treating a hypo</div>
			</a>
			{{> diabetes/treating-hypo }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">
				<div>Check you’re safe to drive</div>
			</a>
			{{> diabetes/check-safe-to-drive }}
		</li>
	</ul>
</div>

<div>
	<h2>Want to learn more?</h2>
	{{> components/important-card }}
</div>
<div class="grid-row external-links">
	<div class="column--one-half">
		<h4>Type 1 diabetes</h4>
		<ul>
			<li><a class="external-links__link-arrow" href="#">What is type 1 diabetes</a>
		</ul>
		<h4>Managing Type 1 diabetes</h4>
		<ul>
			<li><a class="external-links__link-arrow" href="#">What to do when you're unwell</a>
		</ul>
		<h4>Lifestyle</h4>
		<ul>
			<li><a class="external-links__link-arrow" href="#">Travelling with type 1 diabetes</a>
			<li><a class="external-links__link-arrow" href="#">Drinking alcohol</a>
			<li><a class="external-links__link-arrow" href="#">Taking drugs</a>
		</ul>
	</div>
	<div class="column--one-half">
		<h4>Sport and exercise</h4>
		<ul>
			<li><a class="external-links__link-arrow" href="#">Exercise and nutrition</a>
			<li><a class="external-links__link-arrow" href="#">Doing sport with type 1 diabetes</a>
		</ul>
		<h4>Work</h4>
		<ul>
			<li></li>
			<li><a class="external-links__link-arrow" href="#">Your employment rights</a>
			<li><a class="external-links__link-arrow" href="#">Night shifts and type 1 diabetes</a>
		</ul>
	</div>
</div>