
<div class="expander">
	<ul class="expander__list" role="navigation">
		<li class="expander__item">
			<a class="expander__item__title" href="#">How to measure your blood glucose level</a>
			{{> diabetes/how-to-measure-blood-level }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">When to check your blood glucose level</a>
			{{> diabetes/when-to-check }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">Blood glucose levels - the numbers</a>
			{{> diabetes/levels-the-numbers }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href='#'>How to inject insulin</a>
			{{> diabetes/how-to-inject }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">Recognising and treating hypoglycaemia (hypo)</a>
			{{> diabetes/recognising-threating }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">Treating a hypo</a>
			{{> diabetes/treating-hypo }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">Check you’re safe to drive</a>
			{{> diabetes/check-safe-to-drive }}
		</li>
	</ul>
</div>

<div>
	<h2>Want to learn more?</h2>
	{{> components/important-card message='The following links will take you away from the NHS website'	}}
</div>

{{> diabetes/external-links }}
