
<div class="expander">
	<ul class="expander__list" role="navigation">
		<li class="expander__item">
			<a class="expander__item__title" href="#">
				<img class="expander__item__title__arrow" src="/images/expander/icon-expander-open.svg"></img><span>How to measure your blood glucose level</span>
			</a>
			{{> diabetes/how-to-measure-blood-level }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">
				<img class="expander__item__title__arrow" src="/images/expander/icon-expander-open.svg"></img><span>When to check your blood glucose level</span>
			</a>
			<div class="expander__item__content">
				<div class="expander__item__button-wrapper">
					<button class="expander__item__button--close">Close</button>
				</div>
			</div>
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">
				<img class="expander__item__title__arrow" src="/images/expander/icon-expander-open.svg"></img><span>Blood glucose levels - the numbers</span>
			</a>
			<div class="expander__item__content">
				Some content
			</div>
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href='#'>
				<img class="expander__item__title__arrow" src="/images/expander/icon-expander-open.svg"></img><span>How to inject insulin</span>
			</a>
			<div class="expander__item__content">
				Some content
			</div>
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">
				<img class="expander__item__title__arrow" src="/images/expander/icon-expander-open.svg"></img><span>Recognising and treating hypoglycaemia (hypo)</span>
			</a>
			<div class="expander__item__content">
				Some content
			</div>
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">
				<img class="expander__item__title__arrow" src="/images/expander/icon-expander-open.svg"></img><span>Treating a hypo</span>
			</a>
			<div class="expander__item__content">
				Some content
			</div>
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">
				<img class="expander__item__title__arrow" src="/images/expander/icon-expander-open.svg"></img><span>Check you’re safe to drive</span>
			</a>
			<div class="expander__item__content">
				Some content
			</div>
		</li>
	</ul>
</div>

<div>
	<h2>Want to learn more?</h2>
	<div class="important-card">
	The following links will take you away from the NHS website	
	</div>
</div>
<div class="grid-row">
	<div class="column--one-half">
		<h4>Type 1 diabetes</h4>
		<h4>Managing Type 1 diabetes</h4>
		<h4>Lifestyle</h4>
	</div>
	<div class="column--one-half">
		<h4>Sport and exercise</h4>
		<h4>Work</h4>
	</div>
</div>