<header role="banner">
	<div class="global-header">
		<div class="global-header__inner">
			<a href="/" class="global-header__link"></a>
		</div>
	</div>
	<div class="breadcrumb">
		<div class="breadcrumb__navigation">
			<a href="#">Type 2 diabetes</a><span class="right-arrow">&rsaquo;</span><span>Things to help you in the first few weeks</span>
		</div>
	</div>
</div>
</header>
