<header role="banner">
  <div class="global-header">
    <div class="global-header__inner">
      <a href="/" class="global-header__link">
        <img src="/images/NHS-logo-reversed-blue-type.svg" alt="NHS">
      </a>
    </div>
  </div>
</header>
