@import "../nhsuk/environment/settings/colours";
@import "../nhsuk/environment/tools/mixins/layout";
@import "../nhsuk/environment/tools/mixins/typography";
@import "expander";
@import "important-card";
@import "header";
@import "footer";
@import "external-links";

#content {
	background-color: $grey-4;
	padding-bottom: 32px;
}

.page-section {
	max-width: 635px;
}


html {
	background-color: $grey-4;
}

h1 {
	font-size: 56px;
	line-height: 80px;
}
h2 {
	font-weight: 300;
}

.section-header {
	@include site-width-container;
	padding: 0;
	font-size: 36px;
	line-height: 48px; 
	max-width: 635px;
}


@media (min-width: 1024px) {
	.section-header {
		margin: 32px auto;
	}

	.page-section {
		ul, ol {
			margin-top: 0;
		}
		li + li {
			margin-top: 0;
		}
		margin: 32px auto 0 32px;
		padding: 0 16px;
	}
}

@media (min-width: 925px) {
	.section-header {
		margin: 32px auto;
	}

	.page-section {
		ul, ol {
			margin-top: 0;
		}
		li + li {
			margin-top: 0;
		}
		margin: 32px auto 0 auto;
		padding: 0;
	}
}