@import "../nhsuk/environment/settings/colours";

.expander {
	display: block;
	background-color: $white;
	.expander__list {
		list-style: none;
		padding-left: 0;
	}
	li + li {
		margin: 0;
		border-top: 1.5px;
	} 

}

.expander__item {
	border: 3px solid $nhs-blue;
	display: block;
	line-height: 75px;
	margin-bottom: 0;
}

.expander__item__title {
	color: $dark-blue;
	font-size: 19px;
	text-decoration: none;
	display: inline-block;
	width: 100%; 
	:link {
		color: $dark-blue;
	}
}

.expander__item__title__arrow {
	margin: 0 28px 0 28px;
}

.expander__item__title:hover {
	color: $dark-blue;
	background-color: #EEF7FF;
	text-decoration: underline;
	cursor: pointer;
}

.expander__item__content {
	line-height: 1.5em;
	display: none;
	margin: 0;
	p, ul, ol {
		font-size: 18px;
	}

	.expander__item__content__text {
		margin: 32px 76px 48px 76px;
	}
}

.expander__item__content--open {
	display: block;
}

.expander__item__content__video {
	display: block;
	width: 100%;
	height: 353px;
}

.expander__item__button-wrapper {
	margin-bottom: 32px;
}

.expander__item__button--close {
	background-color: $white;
	border: solid 2px $dark-blue;
	color: $dark-blue;
	padding: 10px 1.2em;
	text-align: center;
	display: block;
	font-size: 19px;
	border-radius: 11px;
	margin: 0 auto;
}

.expander__item__button--close:hover {
	background-color: $white;
	border: solid 2px #231F20;
	text-decoration: underline;
	cursor: pointer;
}
