@import "../nhsuk/environment/tools/mixins/layout";
@import "../nhsuk/environment/settings/colours";


.global-header {
	background-color: $nhs-blue;
	height: 100px;
}

.global-header__inner {
	border-bottom: 2px solid $dark-blue;
	padding: 0;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.global-header__link {
}

$height: 64px;

.breadcrumb {

}

.breadcrumb__navigation {
  	@include site-width-container;
  	line-height: $height;
  	color: $dark-blue;

  	.right-arrow {
  		margin: 0 12px;
  	}

}