<div id="t1d-navigation">
  <div class="t1d-navigation__title">
    <div class="t1d-navigation__box">
      <h4>In this section:</h4>
    </div>
  </div>
  <nav id="nav" class="external-links global-footer__container">
    <ul class="t1d-navigation__links">
      <li><a class="external-links__link-arrow" href="">Diabetes - newly diagnosed</a></li>
      <li><a class="external-links__link-arrow" href="">Things to help you in the first weeks</a></li>
      <li><a class="external-links__link-arrow" href="get-support">Getting emotional support</a></li>
      <li><a class="external-links__link-arrow" href="">What to expect in the first year</a></li>
    </ul>
  </nav>
</div>
